html, body, header, nav, h1, a, ul, li,
section, img, div, h2, p,
form, label, input, textarea,
button, article, footer {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  vertical-align: inherit;
  color: inherit;
  background-color: transparent;
  box-sizing: border-box;
}

h1 {
  margin-top: 21.440px;
  margin-bottom: 21.440px;
  font-size: 37px;
}

h2 {
  font-size: 20px;
}

body {
  font-family: 'Varela Round';
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.canvas-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

button {
  margin: 0 auto;
  font-size: 16px;
  margin-top: 20px;
  border-radius: 4px;
  margin-bottom: 10px;
  background: #000;
  color: #fff;
  cursor: pointer;
  padding: 0 5px;
}

button:hover {
  opacity: 0.7;
}

h6 {
  padding-right: 50px;
}

h6>a{
  color: #e6821a;
  opacity: 0.7;
}
h6>a:hover {
  opacity: 1.0;
}

.open-instruction {
  height: 43px;
  background-color: #000;
  border-radius: 0;
  border: none;
  font-size: 27px;
  width: auto;
  margin: 21.440px 30px;
  border-radius: 4px;
  padding: 5px;
}

.shuffle-sort-button-container>button:first-child{
  margin-right: 10px;
}

.github {
  font-size: 37px;
  color: #000;
  margin-top: 21.440px;
  margin-bottom: 21.440px;
  margin-left: 30px;
  margin-right: 110px;
}

.github:hover {
  opacity: 0.7;
}

header {
  background-color: #fff;
  width: 90%;
  position: fixed;
  top: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header-content {
  display: flex;
  justify-content: center;
}

.red {
  color: #f00;
}

.InputRange {
  width: 30%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.speedAmplifier {
  color: #3f51b5;
}

.main-content {
  margin-top: 321.094px;
}

.button-holder > button{
  margin-right: 15px;
}

.shuffle-all-button:disabled {
  opacity: 0.5;
}

.quickShuffle:disabled {
  background-color: rgba(193, 215, 217, 0.72)
}

.sorting:disabled {
  background-color: rgba(193, 215, 217, 0.72)
}
